.handouts-container {
  .summary-grid {
    background: $form-bg;

    .summary-item {
      .item-box {
        height: 52px;
        text-align: center;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          color: $primary-txt-color;
          font-size: 16px;
        }

        .value {
          color: $secondary-txt-color;
          font-size: 12px;
        }
      }
    }
  }
}
